@media only screen and (min-width: 1440px) {
  body {}

  .wrapper {
    width: 600px;
    margin-top: 5%;
  }

  .title {
    font-size: 1.5em;
    text-align: center;
    color: hsl(227, 35%, 25%);
    font-weight: 800;
  }

  .info {
    display: inline-block;
    color: hsl(225, 20%, 60%);
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
  }

  #two {
    width: 75%;
    margin: 20% auto 0 auto;
  }

  .pageviews {
    margin-left: 10%;
    display: inline-block;
    margin-top: 20%;
    color: hsl(225, 20%, 60%);
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .pricing {
    margin-left: 10%;
    display: inline-block;
    position: relative;
    align-items: none;
    justify-content: none;
  }

  .billings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 50%;
    font-size: 0.8em;
  }

  #minus {
    display: none;
  }

  #discount {
    display: inline-block;
  }

  #four {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  .pros {
    position: absolute;
    left: 43%;
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .pros ol {
    position: absolute;
    display: block;
    list-style-image: url('images/icon-check.svg');
    text-align: left;
    width: 100%;
    list-style-position: outside;
  }

  .btn {
    width: 30%;
    margin-right: 15%;
  }
}